{% extends 'base.html' %}
{% block content %}
<a class="btn btn-success" href="{% url 'companies:add' %}">Adauga o companie</a>
<table class="table">
    <thead>
    <tr>
        <th>Index</th>
        <th>Numele Companiei</th>
        <th>Website</th>
        <th>Tipul Companiei</th>
        <th>Stare</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in companies_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.website }}</td>
        <td>{{ item.company_type }}</td>
        <td>{% if item.active == 1 %}
            <span>Activ</span>
            {% else %}
            <span>Inactiv</span>
            {% endif %}
        </td>

        <td>
            <a href="{% url 'companies:modifica' item.id %}" class="btn btn-success">Modifica</a>
            {% if item.active == 1 %}
            <a href="{% url 'companies:sterge' item.id %}" class="btn btn-danger">Sterge</a>
            {% else %}
            <a href="{% url 'companies:activeaza' item.id %}" class="btn btn-info">Activeaza</a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}